*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
}

.menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #161718;
  padding: 2.4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  font-weight: 600;
  transition: 1s;
}
.menu__link {
  margin-right: 5.2rem;
}
.menu__link a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}
.menu__link a:hover {
  color: #4eaf4c;
}
.menu__link:last-child {
  margin-right: 5.6rem;
}
.menu #checkbox {
  display: none;
}
.menu__controller {
  position: absolute;
  right: 10rem;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  display: none;
}
.menu button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  color: #ffffff;
}

.search-screen {
  position: fixed;
  background-color: #55565b;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
.search-screen__close {
  position: absolute;
  top: 10rem;
  right: 10rem;
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-size: 3rem;
}
.search-screen form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-screen form input {
  border: 0;
  outline: none;
  font-weight: bold;
}
.search-screen form input[type=text] {
  margin-right: 3rem;
  padding: 1.5rem 24.8rem 1.5rem 1.8rem;
  border: 0.1rem solid;
  background-color: transparent;
  color: #ffffff;
}
.search-screen form input[type=submit] {
  padding: 1.5rem 4rem;
  background-color: #f95353;
  color: #ffffff;
  cursor: pointer;
}

.search-active {
  display: block;
}

.slider {
  position: relative;
  text-align: center;
  height: 76.5rem;
}
.slider__container {
  height: 100%;
  padding-top: 24rem;
  padding-bottom: 24rem;
  background-color: #123f46;
  animation-name: fade;
  animation-duration: 0.3s;
}
.slider__container button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 1.5rem 4.8rem;
  background-color: #56c553;
  color: #ffffff;
  font-weight: 600;
}
.slider__title {
  margin-bottom: 5rem;
  font-weight: 600;
  font-size: 3rem;
  color: #f95353;
}
.slider__subtitle {
  margin-bottom: 6rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 48.4rem;
  font-size: 1.6rem;
  font-family: "lora";
  color: #ffffff;
}
.slider__arrow {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 21.3rem;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 1.5rem;
}
.slider__arrow--right {
  right: 21.3rem;
  left: auto;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
.category {
  padding: 11.7rem;
}
.category__list {
  max-width: 117.3rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.category__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  padding: 9.6rem 8.6rem 7rem;
  width: calc(33.33% - 21.33px);
  background-color: #f7f7f7;
  margin-bottom: 3rem;
}
.category__item-caption {
  margin-top: 3.3rem;
  margin-bottom: 4.8rem;
}
.category__item-button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  color: #f95353;
}
.category__item:hover {
  background-color: #56c553;
  color: #ffffff;
}
.category__item:hover .category__item-button {
  color: #ffffff;
}

.video video {
  height: 67.2rem;
  width: 100%;
}

.work {
  padding: 11.5rem;
  text-align: center;
}
.work__title {
  margin-bottom: 5.2rem;
  color: #f95353;
  font-size: 2rem;
}
.work__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 3.6rem;
  margin-top: 5.6rem;
  margin-bottom: 5.6rem;
}
.work__menu__link {
  position: relative;
  margin-right: 4.5rem;
  padding-bottom: 1.4rem;
  list-style-type: none;
  font-weight: 600;
  font-size: 1.4rem;
}
.work__menu__link:last-child {
  margin-right: 0;
}
.work__menu__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  width: 0;
  height: 0.3rem;
  background-color: #e74c3c;
  transition: 0.25s;
}
.work__menu__link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.about {
  min-height: 95.3rem;
  background-color: #324651;
  text-align: center;
  padding: 11.5rem;
}
.about__title {
  font-size: 2rem;
  color: #f95353;
}
.about__subtitle {
  margin: 5rem auto 5.5rem;
  max-width: 48.4rem;
  font-size: 1.3rem;
  color: #ffffff;
}
.about__caption {
  max-width: 91rem;
  margin-right: auto;
  margin-left: auto;
  font-family: "lora";
  color: #ffffff;
  font-size: 1.5rem;
}

.statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f7f7f7;
  flex-direction: column;
}
.statistic__title {
  margin-top: 11.5rem;
  font-size: 2rem;
  color: #f95353;
}
.statistic__subtitle {
  margin-top: 5rem;
  margin-bottom: 11.5rem;
  max-width: 41.8rem;
  text-align: center;
}
.statistic__bars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 12rem;
}
.statistic__progressbar {
  position: relative;
  margin-bottom: 7.8rem;
}
.statistic__progressbar__outer {
  width: 70rem;
  height: 0.7rem;
  background-color: #faa9a8;
  border-radius: 2rem;
}
.statistic__progressbar__inner {
  position: relative;
  height: 100%;
  background: linear-gradient(to right, #58c353 0%, #8c9f53 44%, #b78052 66%, #e85d52 100%);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.statistic__progressbar__inner::before {
  position: absolute;
  content: "";
  top: -100%;
  right: 0;
  width: 0.1rem;
  height: 100%;
  background-color: #000000;
}
.statistic__progressbar__title, .statistic__progressbar__percent {
  position: absolute;
  top: -3rem;
  font-size: 1.5rem;
}
.statistic__progressbar--first__inner {
  width: 93%;
}
.statistic__progressbar--first__percent {
  right: 5%;
}
.statistic__progressbar--second__inner {
  width: 95%;
}
.statistic__progressbar--second__percent {
  right: 3%;
}
.statistic__progressbar--third__inner {
  width: 75%;
}
.statistic__progressbar--third__percent {
  right: 23%;
}
.statistic__progressbar--forth__inner {
  width: 53%;
}
.statistic__progressbar--forth__percent {
  right: 45%;
}
.statistic__progressbar--fifth__inner {
  width: 84%;
}
.statistic__progressbar--fifth__percent {
  right: 14%;
}

.footer {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 11.5rem;
}
.footer__form form input {
  border: 0;
  outline: none;
}
.footer__form form input[type=email] {
  margin-right: 3rem;
  padding: 1.5rem 24.8rem 1.5rem 1.8rem;
  border: 0.1rem solid;
  background-color: transparent;
  color: #ffffff;
}
.footer__form form input[type=submit] {
  padding: 1.5rem 4rem;
  background-color: #f95353;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.footer__contact {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.footer__contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: calc(33.33% - 140px);
}
.footer__contact-item img {
  margin-right: 2.7rem;
}
.footer__contact-item-caption {
  color: #ffffff;
  font-size: 1.5rem;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__social img {
  margin-right: 5rem;
}
.footer__social img:last-child {
  margin-right: 0;
}

footer {
  padding: 2.4rem;
  background-color: #000000;
  text-align: center;
  color: #57c654;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  .menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 2;
  }
  .menu__controller {
    display: block;
  }
  .menu__controller--open {
    right: 3rem;
  }
  .menu__controller--close {
    top: 3rem;
    right: 4rem;
    font-size: 2rem;
    color: #ffffff;
  }
  .menu__list {
    position: fixed;
    top: 0;
    right: -50%;
    padding: 5rem;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #55565b;
  }
  .menu__link {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  #checkbox:checked ~ .menu__list {
    right: 0;
  }

  .slider__arrow--left {
    left: 2rem;
  }
  .slider__arrow--right {
    right: 2rem;
  }
  .slider__subtitle {
    max-width: 50%;
  }

  .search-screen form input[type=text] {
    padding: 1rem 7rem 1rem 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .category {
    padding: 2rem;
  }
  .category__item {
    width: 100%;
  }

  .work__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .work__menu__link {
    margin-right: 0;
  }
  .work__menu__link::after {
    top: 1.6rem;
  }

  .statistic__bars {
    width: 100%;
  }
  .statistic__progressbar {
    width: 90%;
  }
  .statistic__progressbar__outer {
    width: 100%;
  }

  .footer {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
  .footer__form {
    padding: 0;
  }
  .footer__form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer__form form input[type=email] {
    margin-bottom: 1rem;
    margin-right: 0;
    padding-right: 20rem;
  }
  .footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
  }
  .footer__contact-item {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .category {
    padding: 2rem;
  }
  .category__item {
    width: 100%;
  }

  .footer {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
  .footer__form {
    padding: 0;
  }
  .footer__form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer__form form input[type=email] {
    padding-right: 4rem;
  }
}
@media screen and (max-width: 350px) {
  .footer__social img {
    margin-right: 3.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
