// sass css/style.scss css/style.css --watch

$primary-color: #ffffff;
$secondary-color: #55565b;
$third-color: #f95353;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;       // 1rem = 10px
}

body{
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
}

@mixin flex($justify: center, $align: center, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin button {
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.wrapper {
    max-width: 192rem;
    min-height: 100vh;
    margin: 0 auto;
}

.menu{
    width: 100%;
    background-color: #161718;
    padding: 2.4rem;
    @include flex(space-evenly);
    &__list{
        @include flex(flex-start);
        font-weight: 600;
    }
    &__link{
        margin-right: 5.2rem;
        text-decoration: none;
        color: $primary-color;
        font-size: 1rem;
    }
    &__link:hover{
        color: #4eaf4c;
    }
    &__link:last-child{
        margin-right: 5.6rem;
    }
    button {
        @include button();
        color: $primary-color;
    }
}

.search-screen{
    position: fixed;
    // background-color: rgba(0, 0, 0, 0.5);
    background-color: $secondary-color;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    &__close {
        position: absolute;
        top: 10rem;
        right: 10rem;
        @include button();
        color: $primary-color;
        font-size: 3rem;
    }
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        input{
            border: 0;
            outline: none;
            font-weight: bold;
        }
        input[type="text"] {
            margin-right: 3rem;
            padding: 1.5rem 24.8rem 1.5rem 1.8rem;
            border: .1rem solid;
            background-color: transparent;
            color: $primary-color;
        }
        input[type="submit"] {
            padding: 1.5rem 4rem;
            background-color: $third-color;
            color: $primary-color;
            cursor: pointer;
        }
    }
}

.search-active {
    display: block;
}

.slider{
    position: relative;
    text-align: center;
    height: 71.5rem;
    &__container{
        height: 100%;
        padding-top: 24rem;
        padding-bottom: 24rem;
        background-color: #123f46;
        animation-name: fade;
        animation-duration: .3s;
        button {
            @include button;
            padding: 1.5rem 4.8rem;
            background-color: #56c553;
            color: $primary-color;
            font-weight: 600;
        }
    }
    &__title{
        margin-bottom: 5rem;
        font-weight: 600;
        font-size: 3rem;
        color: $third-color;
    }
    &__subtitle{
        margin-bottom: 6rem;
        margin-right: auto;
        margin-left: auto;
        max-width: 48.4rem;
        font-size: 1.6rem;
        font-family: "lora";
        color: $primary-color;
    }
    &__arrow {
        @include button;
        position: absolute;
        top: 50%;
        left: 21.3rem;
        transform: translateY(-50%);
        color: $primary-color;
        font-size: 1.5rem;
        &--right{
            right: 21.3rem;
            left: auto;
        }
    }
}

@keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
}

.category{
    padding: 11.7rem;
    &__list{
        max-width: 117.3rem;
        margin: auto;
        @include flex(space-between, center, wrap)
    }
    &__item{
        @include flex(center, center);
        flex-direction: column;
        text-align: center;
        padding: 9.6rem 8.6rem 7rem;
        width: calc(33.33% - 21.33px);
        background-color: #f7f7f7;
        margin-bottom: 3rem;
        &-caption{
            margin-top: 3.3rem;
            margin-bottom: 4.8rem;
        }
        &-button {
            @include button();
            background-color: transparent;
            font-weight: bold;
            color: $third-color;
        }
    }
    &__item:hover{
        background-color: #56c553;
        color: $primary-color;
        .category__item-button {
            color: $primary-color;
        }
    }
}

.video{
    video{
        height: 67.2rem;
        width: 100%;
    }
}

.work{
    padding: 11.5rem;
    text-align: center;
    &__title{
        margin-bottom: 5.2rem;
        color: $third-color;
        font-size: 2rem;
    }
    nav {
        margin-top: 5.6rem;
        margin-bottom: 5.6rem;
    }
    &__menu{
        @include flex;
        height: 3.6rem;
        &__link{
            position: relative;
            margin-right: 4.5rem;
            padding-bottom: 1.4rem;
            list-style-type: none;
            font-weight: 600;
            font-size: 1.4rem;
        }
        &__link:last-child{
            margin-right: 0;
        }
        &__link::after{
            content: "";
            position: absolute;
            top: 100%;
            left: auto;
            right: 0;
            width: 0;
            height: .3rem;
            background-color: #e74c3c;
            transition: .25s;
        }
        &__link:hover::after {
            width: 100%;
            left: 0;
            right: auto;      
        }
    }
}

.about{
    min-height: 95.3rem;
    background-color: #324651;
    text-align: center;
    padding: 11.5rem 51.8rem;
    &__title{
        font-size: 2rem;
        color: $third-color;
    }
    &__subtitle {
        margin: 5rem auto 5.5rem;
        font-size: 1.3rem;
        color: $primary-color;
    }
    &__caption {
        max-width: 91rem;
        font-family: "lora";
        color: $primary-color;
        font-size: 1.5rem;
    }
}

.statistic{
    @include flex;
    background-color: #f7f7f7;
    flex-direction: column;
    &__title{
        margin-top: 11.5rem;
        font-size: 2rem;
        color: $third-color;
    }
    &__subtitle{
        margin-top: 5rem;
        margin-bottom: 11.5rem;
        max-width: 41.8rem;
        text-align: center;
    }
    &__bars{
        @include flex();
        flex-direction: column;
        margin-bottom: 12rem;
    }
    &__progressbar{
        position: relative;
        margin-bottom: 7.8rem;
        &__outer{
            width: 70rem;
            height: .7rem;
            background-color: #faa9a8;
            border-radius: 2rem;
        }
        &__inner{
            position: relative;
            height: 100%;
            background: linear-gradient(to right, #58c353 0%,#8c9f53 44%,#b78052 66%,#e85d52 100%);
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
        }
        &__inner::before{
            position: absolute;
            content: "";
            top: -100%;
            right: 0;
            width: 0.1rem;
            height: 100%;
            background-color: #000000;
        }
        &__title, &__percent{
            position: absolute;
            top: -3rem;
            font-size: 1.5rem;
        }
    }
    &__progressbar--first {
        &__inner{
            width: 93%;
        }
        &__percent {
            right: 5%;
        }
    }
    &__progressbar--second {
        &__inner{
            width: 95%;
        }
        &__percent {
            right: 3%;
        }
    }
    &__progressbar--third {
        &__inner{
            width: 75%;
        }
        &__percent {
            right: 23%;
        }
    }
    &__progressbar--forth {
        &__inner{
            width: 53%;
        }
        &__percent {
            right: 45%;
        }
    }
    &__progressbar--fifth {
        &__inner{
            width: 84%;
        }
        &__percent {
            right: 14%;
        }
    }
}

.footer{
    background-color: #1a1a1a;
    @include flex;
    flex-direction: column;
    padding: 11.5rem;
    &__form{
        form input{
            border: 0;
            outline: none;
        }
        form input[type="email"] {
            margin-right: 3rem;
            padding: 1.5rem 24.8rem 1.5rem 1.8rem;
            border: .1rem solid;
            background-color: transparent;
            color: $primary-color;
        }
        form input[type="submit"] {
            padding: 1.5rem 4rem;
            background-color: $third-color;
            color: $primary-color;
            font-weight: bold;
            cursor: pointer;
        }
    }
    &__contact{
        margin-top: 8rem;
        margin-bottom: 8rem;
        @include flex(space-around);
        width: 100%;
        &-item{ 
            @include flex;
            width: calc(33.33% - 140px);
            img{
                margin-right: 2.7rem;
            }
            &-caption{
                color: $primary-color;
                font-size: 1.5rem;
            }
        }
    }
    &__social{
        @include flex(space-between);
        img{
            margin-right: 5rem;
        }
        img:last-child{
            margin-right: 0;
        }
    }
}

footer {
    padding: 2.4rem;
    background-color: #000000;
    text-align: center;
    color: #57c654;
    font-size: 1.5rem;
}